.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 35%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 64px;
    background: #12171d;
}

.textField {
    background: #232d39;
    border-radius: 12px;
}

.textField input {
    color: #ffffff;
}

.textField label{
    color: #ffffff;
}

.submit {
    width: 20%;
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    transition: all .3s ease-in;
}

.submit:hover {
    background: #c8ff48;
    color: #000;
    border-radius: 0px;
}

.error {
    font-size: 14px;
    color: #fff;
}